<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>10139742683-m9f45p4m5c8fi6gb57972oebs4h7tins.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.10139742683-m9f45p4m5c8fi6gb57972oebs4h7tins</string>
	<key>API_KEY</key>
	<string>AIzaSyC_wGxpXYIgdp6m6c47asqsm2pjc-rUfVA</string>
	<key>GCM_SENDER_ID</key>
	<string>10139742683</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.harvoxx.alarm.alarmReminder</string>
	<key>PROJECT_ID</key>
	<string>alarm-reminder-d3307</string>
	<key>STORAGE_BUCKET</key>
	<string>alarm-reminder-d3307.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:10139742683:ios:e226126b29132b6f0277fe</string>
</dict>
</plist>